
<div  class="container mt-2 ">
  <button routerLink="/admin/Navire" style="margin-left: 90% ; width: 200px ; border: none" class="btn"  >Add Affectation         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg></button>
  <div class="container-md mx-10">
    <div class="col col-md-6" >
      <div *ngIf="searchFormGroup" class="card" style="margin-left: 30%" >
          <form  [formGroup]="searchFormGroup" (ngSubmit)="handleSearchAffectationNavire()">
            <div class="input-group">
              <label class="input-group-text">Navire Id :</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button style="border-color: #2f2f2f"  class="btn ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>


            </div>
          </form>
      </div></div>
    <ng-container  *ngIf="Affectation | async as listAffectations; else failureOrLading">
      <div class="card" style="margin-top: 20px; margin-left: 15%">
      <div  class="card-body" *ngIf="Affectation" >
          <table class="table table-dark table-hover">
            <thead>
            <tr>
              <th>ID</th><th>ID Navire</th><th>ID Grue</th><th>ID Equipe</th><th>ID Engin</th><th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of Affectation| async ">
              <td>{{a.id_Affectation}}</td>
              <td>{{a.navire_id}}</td>
              <td>{{a.grue_id}}</td>
              <td>{{a.equipe_id}}</td>
              <td>{{a.engin_id}}</td>
              <td>
                <button (click)="handleDeleteAffectation(a)" class="btn btn-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </ng-container>
    <ng-template #failureOrLading>
      <ng-container *ngIf="errorMessage; else loading">
        <div class="text-danger">
          {{errorMessage}}
        </div>
      </ng-container>
      <ng-template #loading>
        Loading .....
      </ng-template>
    </ng-template>
  </div>
  </div>

